<h1><%= @project.name %></h1>
<p><%= @project.material %></p>
<p><%= @project.challenge.theme %></p>
<p><%= "Number of Contestants: #{@project.contestants.count}" %></p>
<p><%= "Average Years of Experience: " %></p>
